<!DOCTYPE html>
{% extends "musicwebsite/base.html" %}

{% block title %}Home - Music Website{% endblock %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chordial</title>
    {% load static %}

    <!-- Bootstrap JS for functionality -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Scripts -->
    <script src="{% static '/js/chords.js' %}"></script>


    <!-- Icon for website tab -->
    <!-- <link rel="icon" href="placeholder_icon.ico" type="image/x-icon"/> -->
    <!-- <link rel="icon" type="image/x-icon" href="placeholder_icon.ico"> -->
    <link rel="icon" href="{% static 'placeholder_icon.ico' %}" type="image/x-icon" />


    <!-- Header Styles -->
    <style>
      .navbar-brand img {
        height: 40px;
      }

      .card {
        margin-bottom: 20px;
        /* Spacing between cards */
      }

      .button-container {
        margin: 3% 0;
        /* Top and bottom margin for button containers */
      }

    .fret, .fretlabel {
      height: 30px;
      width: 50px;
    }

    .fretmark, .double-fretmark-1, .double-fretmark-2 {
      --tw-bg-opacity: 1;
      background-color: rgba(255,255,255,var(--tw-bg-opacity));
      content: "";
      position: absolute;
      margin-left: -10px;
      height: 18px;
      width: 18px;
      border-radius: 50%;
    }

    .fretmark {
      margin-top: 70px;

    }

    .double-fretmark-1 {
      margin-top: 25px;

    }
    .double-fretmark-2 {
      margin-top: 114px;
      
    }
    
  </style>
</head>

  <body>
    <!-- Header -->

  <main class="container mt-4">
    <!-- Guide Section -->
    <div class="text-center mb-5">
      <div class="card mx-auto" style="width: 100%;">
        <h5 id="title" class="card-title mt-3">Fretboard</h5>
        <div Id="fretboard" class="card-body">
          <!-- Content here -->
        </div>
      </div>
      <button class="btn btn-sm btn-primary me-2" id="playbutton">Strum</button>
      <button class="btn btn-sm btn-primary me-2" id="string0button">Play String 1</button>
      <button class="btn btn-sm btn-primary me-2" id="string1button">Play String 2</button>
      <button class="btn btn-sm btn-primary me-2" id="string2button">Play String 3</button>
      <button class="btn btn-sm btn-primary me-2" id="string3button">Play String 4</button>
      <button class="btn btn-sm btn-primary me-2" id="string4button">Play String 5</button>
      <button class="btn btn-sm btn-primary me-2" id="string5button">Play String 6</button>
    </div>

      <!-- Chord Section -->
      <div class="text-center mb-5">
        <div class="card mx-auto" style="width: 100%;">
          <h5 class="card-title mt-3">Chord Section</h5>
          <h7 class="card-subtitle text-muted">Please choose a note and a chord type.</h7>
          <div class="card-body container">
            <div id="note-select-div" class="row"></div>
            <br>
            <div id="chord-select-div" class="row"></div>
          </div>
        </div>
      </div>

      <!-- Chord Identification -->
      <div class="row mb-4">
        <div class="col text-center">
          <div class="card mx-auto" style="width: 100%;">
            <h5 class="card-title mt-3">Chord Identification</h5>
            <h7 class="card-subtitle text-muted">Click on the fretboard to find chords with corresponding notes.</h7>
            <h1 id="chord-search-display">...</h1>
            <div class="card-body"></div>
          </div>
          <div class="button-container">
            <button id="chord-search-button" class="btn btn-lg btn-primary">Identify</button>
          </div>
        </div>


      <!-- Chord Saving -->

        <div class="col text-center">
          <div class="card mx-auto" style="width: 100%;">
            <h5 class="card-title mt-3">Chord Saving</h5>
            <div class="card-body">
              <table class="table" style="border-collapse:collapse;" id="chord-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Frets</th>
                  </tr>
                </thead>
                <tbody>
                  {% include 'musicwebsite/partial_chord_list.html' %}
                </tbody>
              </table>
            </div>
          </div>
          <div id="custom-chord-buttons" class="button-container">
            <input class="js-chord-name-input me-2 align-middle" placeholder="Chord name..."></input>
            <button class="btn btn-sm btn-secondary me-2 js-create-chord">Save Chord</button>
            <button class="btn btn-sm btn-secondary me-2">Clear</button>
            <button class="btn btn-sm btn-secondary">Export</button>
          </div>
        </div>
      </div>

      <!-- List of Songs -->
      <div class="text-center mb-5">
        <div class="card mx-auto" style="width: 100%;">
          <h5 class="card-title mt-3">List of Songs</h5>
          <div class="card-body"></div>
        </div>
        <div class="button-container">
          <button class="btn btn-sm btn-primary me-3">Add song</button>
          <button class="btn btn-sm btn-primary me-3">Delete song</button>
          <button class="btn btn-sm btn-primary me-3" id="addChord">Add Chord</button>
          <button class="btn btn-sm btn-primary">Delete Chord</button>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-lg btn-primary" id="playSong">Play Song</button>
        </div>
      </div>

      <!-- Song Playback -->
      <div class="text-center mb-5">
        <div class="card mx-auto" style="width: 100%;">
          <h5 class="card-title mt-3">Song Playback</h5>
        </div>
      </div>


      <div class="modal fade" id="modal-chord">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
        </div>
      </div>
      
    </main>
  </body>
</html>

<script>
  //#####################################
  //            DATABASE INPUT
  //#####################################

  //var databaseChordList = JSON.parse('{{data|escapejs}}');
  var databaseChordList;

  loadDatabase();


  function loadDatabase() {

    $.ajax({
      url: '/chords/load/',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
      },
      success: function (data) {

        databaseChordList = JSON.parse(data.chords);
        
        //window.alert("value: " + chordList);
        //window.alert("Is array: " + Array.isArray(chordList));
        //window.alert("keys: " + Object.keys(chordList));
      }
    });
  }


  //#####################################
  //        CONST / GLOBAL VARIABES
  //#####################################

  //FRETBOARD

  const fretboard = document.getElementById("fretboard");
  var selectedFretsGlobal = [0, 0, 0, 0, 0, 0];

  const startOfStringElement = `<div class="string row">`;
  const endOfStringElement = `</div>`;

    const startOfFretElement = `<div class="fret col border-end border-secondary-subtle border-4" style="background-color: #333333;">`;
    const endOfFretElement = `</div>`;

    const stringImageElement =`<span style="background-image: url(static/string.png); background-position: center; background-repeat: repeat-x; width:calc(99%); height:26px; pointer-events:none; position:absolute;"></span>`

    const disabledFretElement = `<span class="text-danger font-bold" style="font-size:30px; margin:-10px; position:absolute; z-index:2;">X</span>`

    const smallScreenFretLimit = 9;
    
    //CHORD SELECT
    const noteDiv = document.getElementById("note-select-div");
    const chordDiv = document.getElementById("chord-select-div");

  const startOfNoteButtonElement = `<button class="note-select-button  p-1 sm:p-1 align-middle mb-2 sm:mb-4 text-sm sm:text-base w-1/6 sm:w-1/12 border bg-gray-dark border-dark-subtle col">`;
  const endOfNoteButtonElement = `</button>`;
  const startOfChordButtonElement = `<button class="chord-select-button p-1 sm:p-1 align-middle mb-2 sm:mb-4 border bg-gray border-dark-subtle text-sm sm:text-base w-1/6 lg:w-1/12 col">`;
  const endOfChordButtonElement = `</button>`;

  const notes = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];
  const chordTypes = ["Major", "Minor", "Augmented", "Diminished", "dim7", "7", "maj7"];
  const chordSuffixes = ["", "m", "aug", "dim", "dim7", "7", "maj7"];

  var selectedNoteGlobal = "none";
  var selectedChordGlobal = "none";

  var chordButtonsGlobal;
  var noteButtonsGlobal;

  //PLAYING SOUND

  const songNotes = [];

  const strings = [null, null, null, null, null, null];
  const stringbuttons = ["string0button", "string1button", "string2button", "string3button", "string4button", "string5button"];
  const noteSounds = [];
  for (let string_index = 1; string_index <= 6; string_index++) {
    const strings = [];
    for (let fret_index = 0; fret_index <= 12; fret_index++) {
      const string = document.createElement("audio");
      string.src = `{% get_static_prefix %}audio/String${string_index}/String${string_index}-Fret${fret_index}.wav`;
      string.load();
      strings.push(string);
    }
    noteSounds.push(strings);
  }

  function Change_Audio(changedFrets) {

    for (let i = 0; i < strings.length; i++) {
      if (changedFrets[i] > -1) {
        strings[i] = noteSounds[i][changedFrets[i]];
      } else {
        strings[i] = null;
      }

    }
    //loadFretboard();
  }


  //#####################################
  //              FRETBOARD
  //#####################################


    firstLoadFretboard();

  //functions
  function generateEnabledFretElement(string, fret) {
    let fullNote = findNoteOfFret(string, fret);
    let letter = fullNote.letter;


        const enabledFretElement = `<svg  height="20" style=" position:relative; z-index: 1;" class="mw-100">
            <circle cx="50%" cy="50%" r="9" stroke="purple" stroke-width=".5" fill="orange" />
            <text fill="#000000" font-size="10" font-family="Verdana" x="50%" y="65%" text-anchor="middle">${note}</text>
        </svg>`;

    return enabledFretElement;

  }

  function findNoteOfFret(string, fret) {
    let noteList = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];
    let stringTunings = [28, 33, 38, 43, 47, 52]; //how many notes is each string tuned up relative C0

    let noteNumber = stringTunings[string];
    noteNumber += fret;
    let selectedNote = noteList[noteNumber % 12];
    let octave = Math.floor(noteNumber / 12);
    return {
      octave: octave,
      letter: selectedNote,
    }
  }




    function loadFretNumbers()
    {
      let labelRow = "";
      labelRow += startOfStringElement;
        for (var fretNo = 0; fretNo < 13; fretNo++) {
          
          labelRow += `<div class='fretlabel col '>`

          labelRow += `<p>${fretNo}</p>`

          //add fretmarks
          if (fretNo == 3 || fretNo == 5 || fretNo == 7 || fretNo == 9){
            labelRow += `<span class="fretmark"></span>`;
          }
          //add double fretmark
          if (fretNo == 12){
            labelRow += `<span class="double-fretmark-1"></span>`;
            labelRow += `<span class="double-fretmark-2"></span>`;
          }
          
          labelRow += `</div>`

        }
      labelRow += endOfStringElement;
      fretboard.innerHTML += labelRow;

      let fretLabels = document.getElementsByClassName("fretlabel");
      let zerothFretLabel = fretLabels[0];
      
      //make 0th fretlabel half width
      setColToHalfWidth(zerothFretLabel);
      
      //make higher fretlabels disappear on small screens
      for(var i = 0; i < fretLabels.length; i++ ){
        if (i > smallScreenFretLimit){

          fretLabels[i].classList.add("d-none");
          fretLabels[i].classList.add("d-md-block");
        }
      }

    }


    function loadFretboard() //#### THIS IS THE BIG FUNCTION THAT MAKES THE FRETBOARD ####
    {
        //This creates html elements by adding an opening tag, the contents, then the closing tag to a string, then repeats with for loops. See global variables above to see and edit those tags for designing.
        
        fretboard.innerHTML = "";

        loadFretNumbers();

    // 6 strings. (iterates in reverse so the lowest string (string 0) is at the bottom)
    for (var stringNo = 5; stringNo >= 0; stringNo--) {

      let currentStringElement = "";
      currentStringElement += startOfStringElement;

      // 13 fret positions
      for (var fretNo = 0; fretNo < 13; fretNo++) {

        let currentFretElement = "";
        currentFretElement += startOfFretElement;

        // only show the fret as selected if it is currently selected
        if (selectedFretsGlobal[stringNo] == fretNo) {
          let insideFretElement = generateEnabledFretElement(stringNo, fretNo);
          currentFretElement += insideFretElement;
        }

        // accounting for muted strings (-1 fret)
        if (selectedFretsGlobal[stringNo] == -1 && fretNo == 0) {
          currentFretElement += disabledFretElement;
        }

                currentFretElement += endOfFretElement;
                currentStringElement += currentFretElement;
            }
            
            currentStringElement += stringImageElement;
            currentStringElement += endOfStringElement;
            fretboard.innerHTML += currentStringElement;
        }

    addListenersToFrets();
    Change_Audio(selectedFretsGlobal);

  }






  function addListenersToFrets() {
    let frets = document.getElementsByClassName("fret");
    for (var i = 0; i < frets.length; i++) {
      frets[i].addEventListener('click', reloadEvent);

            //getting the string and fret of each fret element from i like this feels like a bad idea but it works
            frets[i].string = 5 - Math.floor(i / 13);
            frets[i].fret = i % 13;
        }

        //remove string background from 0th frets
        for(var i = 0; i < frets.length; i++ ){
          if (frets[i].fret == 0){

            //frets[i].style.backgroundImage = null;
            frets[i].style.backgroundColor = null;
            setColToHalfWidth(frets[i])
          }

          if (frets[i].fret > smallScreenFretLimit){
            frets[i].classList.add("d-none");
            frets[i].classList.add("d-md-block");
          }

        }

    }

    function setColToHalfWidth(element){
      element.classList.remove('col');
      element.classList.add('col-0-half');
    }

  function reloadEvent(evt) {
    //set selected fret to the fret you just clicked
    let string = evt.currentTarget.string;
    let fret = evt.currentTarget.fret;

    //if you click on an already selected fret, disable it
    if (selectedFretsGlobal[string] == fret) {
      selectedFretsGlobal[string] = -1;
    } else {
      selectedFretsGlobal[string] = fret;
    }
    loadFretboard();
  }

  function firstLoadFretboard() {
    loadFretboard(selectedFretsGlobal)
  }


</script>
<script>


  //#####################################
  //            CHORD SELECT
  //#####################################




  loadNoteButtons();
  setNoteButtonListeners();
  loadChordButtons();
  setChordButtonListeners();

  function loadNoteButtons() {
    //Create note buttons
    noteDiv.innerHTML = "";
    for (var i = 0; i < notes.length; i++) {
      let noteButtonElement = startOfNoteButtonElement;
      noteButtonElement += notes[i];
      noteButtonElement += endOfNoteButtonElement;

      noteDiv.innerHTML += noteButtonElement;
    }
  }

  function setNoteButtonListeners() {

    //add listeners and attributes to note buttons
    noteButtonsGlobal = document.getElementsByClassName("note-select-button");
    for (var i = 0; i < noteButtonsGlobal.length; i++) {
      noteButtonsGlobal[i].addEventListener('click', noteButtonClicked);

      noteButtonsGlobal[i].note = notes[i];

    }
  }

  function noteButtonClicked(evt) {

    //highlight clicked button
    for (var m = 0; m < noteButtonsGlobal.length; m++) {
      noteButtonsGlobal[m].classList.remove("bg-warning");
    }

    evt.currentTarget.classList.add("bg-warning");

    //store clicked note name
    selectedNoteGlobal = evt.currentTarget.note;

    displayChord();
  }







  function loadChordButtons() {
    //Create chord buttons
    chordDiv.innerHTML = "";
    for (var i = 0; i < chordTypes.length; i++) {
      let chordButtonElement = startOfChordButtonElement;
      chordButtonElement += chordTypes[i];
      chordButtonElement += endOfChordButtonElement;

      chordDiv.innerHTML += chordButtonElement;
    }
  }

  function setChordButtonListeners() {

    //add listeners and attributes to chord buttons
    chordButtonsGlobal = document.getElementsByClassName("chord-select-button");
    for (var i = 0; i < chordButtonsGlobal.length; i++) {
      chordButtonsGlobal[i].addEventListener('click', chordButtonClicked);

      chordButtonsGlobal[i].suffix = chordSuffixes[i];
    }
  }

  function chordButtonClicked(evt) {

    //highlight clicked button
    for (var l = 0; l < chordButtonsGlobal.length; l++) {
      chordButtonsGlobal[l].classList.remove("bg-warning");
    }

    evt.currentTarget.classList.add("bg-warning");

    //store clicked chord name
    selectedChordGlobal = evt.currentTarget.suffix;

    displayChord();
  }

  function displayChord() {

    if (selectedChordGlobal != "none" && selectedNoteGlobal != "none") {

      let finalChordName = selectedNoteGlobal + selectedChordGlobal;
      let finalChord = databaseChordList.filter((chord) => chord.name == finalChordName)[0];
      let newFrets = finalChord.frets.slice();
      let newBase = finalChord.base;

      changeGlobalFrets(newFrets, newBase)

      


    }
  }


  function changeGlobalFrets(frets, base){
    for (var k = 0; k < frets.length; k++) {
      if (frets[k] > -1) {
        frets[k] += base - 1;
      }
    }

    selectedFretsGlobal = frets;
    loadFretboard()
  }




  //#####################################
  //           PLAYING SOUND
  //#####################################









  function playOneString(i) {
    const strumDelay = setTimeout(function () {
      if (strings[i] !== null) {
        strings[i].play();
      }
      if (i < strings.length - 1) {
        playOneString(i + 1);
      }

    }, 20);

  }
  document.getElementById("playbutton").addEventListener("click", function (music) {
    for (let i = 0; i < strings.length; i++)
  {
    if(strings[i] !== null){
      strings[i].pause();
      strings[i].currentTime = 0;
      }
    
  }
    playOneString(0);
  }, false);

  for (let i = 0; i < stringbuttons.length; i++) {
    document.getElementById(stringbuttons[i]).addEventListener("click", function (music) {
      //Change_Audio();
      if (strings[i] !== null) {
        strings[i].pause();
        strings[i].currentTime = 0;
        strings[i].play();
      }
    }, false);
  }

  document.getElementById("addChord").addEventListener("click", function (music){
    songNotes.push([selectedFretsGlobal]);
  })

  document.getElementById("playSong").addEventListener("click", function (music){
    songPlayback(0)
  })

  function songPlayback(songProgress)
  {
    for (let i = 0; i < strings.length; i++)
    {
      if(strings[i] !== null){
      strings[i].pause();
      strings[i].currentTime = 0;
      }
    }
    Change_Audio(songNotes[songProgress][0]);
    playOneString(0);
    if (songProgress !== songNotes.length -1)
    {
      setTimeout(function() 
      {
        songPlayback(songProgress+1);
      }, 2000);
    }
  }



  //#####################################
  //       REVERSE CHORD SEARCH
  //#####################################

  let chordSearchButton = document.getElementById("chord-search-button");
  let chordSearchDisplay = document.getElementById("chord-search-display");
  chordSearchButton.addEventListener('click', reverseChordSearch);

  async function reverseChordSearch() {
    chordSearchDisplay.innerHTML = "...";


    // for each fret in the chord, they all must:
    //    the fret + base - 1 must match the selected fret
    //    OR, if the fret is -1, the selected fret must be -1
    let foundChordList = databaseChordList.filter((chord) =>
      (chord.frets[0] + chord.base - 1 == selectedFretsGlobal[0] || (chord.frets[0] == -1 && selectedFretsGlobal[0] == -1)) &&
      (chord.frets[1] + chord.base - 1 == selectedFretsGlobal[1] || (chord.frets[1] == -1 && selectedFretsGlobal[1] == -1)) &&
      (chord.frets[2] + chord.base - 1 == selectedFretsGlobal[2] || (chord.frets[2] == -1 && selectedFretsGlobal[2] == -1)) &&
      (chord.frets[3] + chord.base - 1 == selectedFretsGlobal[3] || (chord.frets[3] == -1 && selectedFretsGlobal[3] == -1)) &&
      (chord.frets[4] + chord.base - 1 == selectedFretsGlobal[4] || (chord.frets[4] == -1 && selectedFretsGlobal[4] == -1)) &&
      (chord.frets[5] + chord.base - 1 == selectedFretsGlobal[5] || (chord.frets[5] == -1 && selectedFretsGlobal[5] == -1)));

    let foundChord;
    if (foundChordList.length > 0) {
      foundChord = foundChordList[0].name;
    } else {
      foundChord = "No Chords Found";
    }

    chordSearchDisplay.innerHTML = foundChord;
  }





//#####################################
//       SAVING / DELETING CHORDS
//#####################################

function updateCustomChordList(innerHtml){
  $("#chord-table tbody").html(innerHtml);
  loadDatabase();
}

function replaceDigitWithSubscript(num) {
  const subscriptList = ['₀','₁','₂','₃','₄','₅','₆','₇','₈','₉']

  if (Number.isInteger(num)){
    if (num < 10 && num >= 0){
      return subscriptList[num];
    }
  }
}


// ## SAVE CHORDS ##
$("#custom-chord-buttons").on("click", ".js-create-chord", createCustomChord);

function createCustomChord() {

  //CONVERT FRETBOARD AND TEXTBOXES TO DATA
  let customName = $(".js-chord-name-input").val(); 
  let customBase = 1;
  let customFrets = selectedFretsGlobal.slice();

  //if customName is null or whitespace
  if (!customName || !customName.trim())
  {
    //have the name just be the list of notes being played
    defaultCustomName = "";
    for (i = 0; i < 6; i++){
      let fullNote = findNoteOfFret(i, customFrets[i]);
      defaultCustomName +=  fullNote.letter + replaceDigitWithSubscript(fullNote.octave);
    }
    customName = defaultCustomName;

  }

  let customChordData = {
    "name" : customName,
    "base" : customBase,
    "frets" : JSON.stringify(customFrets),
    "fingers" : JSON.stringify([1,2,3,4,0,0]), //fingers arent needed
    "isCustom" : "True"
  };

  $.ajax({
    url: '/chords/create/',
    type: 'get',
    dataType: 'json',
    data: customChordData,

    success: function (data) {
      //after the ajax call is done, update the table body to include the new chord
      updateCustomChordList(data.html_chord_list);
      $(".js-chord-name-input").val("");
    }
  });
};



  // ## DELETE CHORDS ##

$("#chord-table").on("click", ".js-delete-chord", deleteCustomChord)

function deleteCustomChord(){
  var btn = $(this);
  $.ajax({
    url: btn.attr("data-url"),
    type: 'get',
    dataType: 'json',

    success: function (data) {
      //after the ajax call is done, update the table body to include the new chord
      updateCustomChordList(data.html_chord_list);
    }
  });

}


// ## SELECT CHORD ##

$("#chord-table").on("click", ".js-select-chord", selectCustomChord);

function selectCustomChord() {
  var btn = $(this);
  let customChordId = btn.attr("data-id");
  let customChord = databaseChordList.find((chord) => chord.id == customChordId);
  let customFrets = customChord.frets;
  let customBase = customChord.base;

  changeGlobalFrets(customFrets, customBase);

  if (btn.attr("data-play") == "true"){
    playOneString(0);
  }
}

// ## PLAY CHORD ##

$("#chord-table").on("click", ".js-play-chord", selectCustomChord);



  
</script>
{% endblock %}
