<div class="row">
    <div class="col-4 border-end border-2">
        {% for song in songs %}
        
        <button type="button"
            data-url="{% url 'song_load' %}"
            data-id = {{ song.id }}
            class="btn btn-primary js-load-song">{{ song.title }}</button>
        
        {% empty %}
        <tr>
            <td colspan="4" class="text-center bg-warning">No Songs</td>
        </tr>
        {% endfor %}
    </div>



    <div class="col-8"> 
    {% if selected_song %}
     
    <table class="table" style="border-collapse:collapse;" id="songchord-table">          
      <thead>
        <tr>
          <th>Name</th>
          <th>Frets</th>
        </tr>
      </thead>
      <tbody>
        {% for songchord in selected_songchords %}
        {% with chord=songchord.chord %}

        <tr>
            <td>{{ chord.name }}</td>
            <td>{{ chord.frets }}</td>
        
            <td><button type="button"
              class="btn btn-primary js-play-chord">Play</button></td>
        
            <td><button type="button"
              class="btn btn-danger delete-chord-button js-delete-chord">REMOVE</button></td>
            </tr>
            {% endwith%}
            {% empty %}
            <tr>
            <td colspan="4" class="text-center bg-warning">Song Empty</td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
            


        <button type="button"
            data-url="{% url 'song_delete' %}"
            class="btn btn-primary js-delete-song">Delete song</button>
        
        <button type="button"
                data-url="{% url 'song_delete' %}"
                class="btn btn-primary js-update-song" id="addChord">Add Chord</button>


    {% else %}

    <tr>
        <td colspan="4" class="text-center bg-warning">No Chosen Song</td>
    </tr>

    {% endif %}


    </div>
</div>
