.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.nav-profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}