{% extends "musicwebsite/base.html" %}

{% load static %}

{% block title %}Account Settings{% endblock %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a href="{% url 'profile' %}" class="btn btn-warning"> &#8592; Back To Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <img src="{{ request.user.member.profile_pic.url|default:'/path/to/default-image.jpg' }}" 
                alt="Profile Picture" 
                class="profile-pic">
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" name="Update Information">
            </form>
        </div>
    </div>
</div>

{% endblock %}