<h>Community Guidelines</h>
<p>
<!--This is paragraph 1-->
Hateful Content: This website does not permit content that incites any violence or hatred towards an individual or group based on race, religion, gender identity or expression, sex, ethnicity, nationality, sexual orientation, veteran status, age, or disability or other characteristics associated with systemic discrimination or marginalization.
<!--This is paragraph 2-->
Dangerous Content: Please don’t encourage others to do anything that could put themselves or anyone else in serious physical harm. This includes but isn’t limited to, dangerous challenges or acts of suicide and/or self-harm.
<!--This is paragraph 3-->
Violet Or Graphic Content: We don’t allow content that features graphic or gratuitous depictions of violence, gore, or other shocking elements.
<!--These are all bullet points for paragraph 3-->
Examples of what to avoid include:

Depictions of graphic acts of violence or abuse

Gruesome depictions of serious physical injury or trauma
<!--This is paragraph 4-->
Harassment Or Cyberbullying: We don’t allow harassment on Chordial for users. 
<!--These are all bullet points for paragraph 4-->
Examples include:

Sharing, threatening to share, or encouraging others to share someone’s private information without their consent

Repeatedly targeting someone with unwanted sexual advances

<!--This is paragraph 5-->
Sexually Explicit Content: You should avoid content that contains sexually explicit material such as:
<!--These are all bullet points for paragraph 5-->
Pornography and other similar graphic depictions of sexual acts for sexual gratification
Depictions or descriptions of genitalia or nudity presented for sexual gratification
Advocating or glorifying sexual themes related to rape, incest, or bestiality
<!--This is paragraph 6-->
Infringing Content: We protect creators’ intellectual property so they can be fairly compensated for their work. Any content that is provided to Spotify without rightsholder permission may be removed. The same is true for content that infringes upon the trademarks of others. If you use samples in your music, clear them with the owner first.
<!--This is paragraph 7-->
Illegal Content: We require content providers to comply with applicable laws and regulations, including those governing content administered by the U.S. Office of Foreign Assets Control (“OFAC”) and the German ​Bundesprüfstelle für jugendgefährdende Medien (“BPjM”). Any content in violation of local laws may be removed, and we may withhold related payments if that content is subject to sanctions.
<!--This is paragraph 8-->
Impersonation: Avoid content that impersonates others in a way that is intended or likely to deceive. This includes posing as or mimicking another person, or misrepresenting your affiliation with a person, brand, or organization.
<!--This is paragraph 9-->
Spam: We don’t allow any kind of spam on Chordial for users. Spam includes, but isn't limited to:
<!--These are all bullet points for paragraph 9-->
Content made solely to improve SEO or promote a product or service
Mass publishing identical or indistinguishable content that directs listeners to potentially harmful sites or services, or violates our monetization policies
<!--This is paragraph 10-->
Monetization Fraud: Fraudulently using our monetization features may result in monetization bans, account removals, and platform bans.
<!--These are all bullet points for paragraph 10-->
Monetization fraud includes, but isn’t limited to:

Using credit cards you don’t own to generate fraudulent Listener Support earnings
Inflating play counts to increase ad impressions and generate fraudulent earnings
Enlisting a third party to generate inauthentic Listener Support or Subscription earnings
<!--This is paragraph 11-->
Enforcement: Repeated violations of our prohibited content policies can result in losing access to the Spotify platform.
</p>