{% extends "musicwebsite/base.html" %}
 
{% load crispy_forms_tags %}
 
{% block title %}Contact Us{% endblock  %}
 
{% block content %}

<title>Contact Us</title>

<h1>Contact Us</h1>

<h3>Creators</h3>
<ul>
    <li>
        Sean Albertyn
    </li>
    <li>
        Lin Swe
    </li>
    <li>
        Bailey Thorp
    </li>
    <li>
        Carol Do
    </li>
    <li>
        Zoheb Khan
    </li>
    <li>
        Luke Vercoe
    </li>
</ul>

<h3>Phone Number:</h3>
<p>0274609874</p>

<h3>Email Us</h3>
<p>chordial@outlook.com</p>

{% endblock %}