<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Daily Music Practice Reminder</title>
</head>
<body>
    <h2>Hey, {{ username }}</h2>
    <p>Hope you're doing great! Just a friendly reminder about your daily practice session with us to keep honing your musical skills.</p>
    <p>Did you know that practicing even just 5 minutes a day can put you ahead of 65% of the competition? Consistency is key, and we’re excited to help you stay on track!</p>
    <p>Can’t wait to see you there! 😊</p>

    <p>With love, <br> Chordial</p>

    {% comment %} <h2>Hey {{ username }}</h2>
    <p>Hope you are doing well! This is your reminder to keep up with your music practice today. Remember, each step counts towards your growth!</p>
    <p>See you soon!</p>
    <p>Best, <br>Chordial</p> {% endcomment %}
</body>
</html>