{% extends "musicwebsite/base.html" %}
 
{% load crispy_forms_tags %}
 
{% block title %}FAQ{% endblock  %}
 
{% block content %}

<title>FAQ</title>

<h1>FAQ</h1>

<h3>How can I share music legally on this website?</h3>
<p>
    You require permission from the copyright holder to play the music on our website without 
    fear of punishment.
</p>

<h3>How do I create a song?</h3>
<p>
    Scroll to the bottom of the page and click "Add Song" then select the song in your 
    "Song Playback" box, once selected simply use the Chord Section to choose from several 
    predefined chords or use the fretboard at the top to add custom chords to the song then
    click "Add Chord" found at the bottom of the page to add the chord to your song. </p>

<h3>How do I save a chord?</h3>
<p>
    Either select a predefined chord using the "Chord Section" or input your own custom chord 
    by manually using the fretboard, then under "Chord Saving" type a name for your chord and 
    then click the "Save Chord" button to save a chord. </p>

<h3>How far away is the sun from the earth?</h3>
<p>The sun is exactly 147.79 million km from the earth, ranging at about 93 million miles.</p>

<h3>How do I create an account?</h3>
<p>
    To create an account click the "Register" button in the top right corner of the main page, 
    then fill in all the details for registration and remember to click links for both the 
    "Terms and Conditions" and "Privacy Policy" to enable the ability to check the 
    checkboxes, afterwards click Register.</p>

<h3>What does chord saving do?</h3>
<p>
    Chord saving allows you to save chords you either selected or manually inputted and allows 
    you to save them to the "Chord Saving" list so you can always select the chord so the 
    fretboard automatically changes it current chord to the one you selected this way you wont 
    have to remember the string pattern for each chord you wanna remember.
</p>

<h3>How do I reset my password?</h3>
<p>
    To reset your password simply click the "Login" button in the top right corner of the main 
    page and then click the "Forgot Password? Reset Password" link at the bottom, follow the 
    link and then input your email into the box to send a "Reset My Password" request to your 
    email address, then follow the steps displayed in the email to reset your password.</p>
{% endblock %}