{% extends "musicwebsite/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Password Reset</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <input type="submit" class="btn btn-outline-primary" value="Reset My Password">
            <a href="{% url 'login' %}" class="btn btn-outline-danger">Go Back</a>
        </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'reset-password-done' %}" class="text-muted"></a>
    </div>
</div>

{% endblock %}