{% extends "musicwebsite/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Enter New Password{% endblock %}

{% block content %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter New Password</legend>
            <p>Please enter your new password twice so we can verify you typed it in correctly</p>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <input type="submit" class="btn btn-outline-primary" value="Change My Password">
        </div>
    </form>
    <div class="border-top pt-3">
        <a href="{% url 'reset-password-complete' %}" class="text-muted"></a>
    </div>
</div>

{% endblock %}

{% comment %}
Enter New Password

Please enter your new password twice so we can verify you typed it in correctly

New Password: 
Confirm New Password:

Change My Password

 {% endcomment %}