<h1>Terms and Conditions</h1>
<p>
    Before any use of our website please ensure you read our terms and conditions carefully to ensure maximum safety and clarification are achieved before interacting with our website

    Copyright: This website content is strictly protected by copyright infringement international laws, all users using such material may ONLY use it for personal use only, no business, marketing, or social uses may be used for copyright material WITHOUT punishment.  
    
    User Conduct: This website restricts the uploading or transmitting of content that is unlawful, indecent, obscene, defamatory, or violates the legal rights of others. ANY violation of this rule will result in PUNISHMENT appropriate to the level and times of misconduct. 
    
    Liability: We would like to inform users that we are NOT liable for any problems that users may or may not encounter while using our website such as epilepsy, deafness, struggle with eyesight, nausea, and any OTHER issues that may occur when using the website. 
    
    Trademarks: Users are prohibited from using any trademarks displayed on this website without the owner's approval first, INCLUDING brand logos, promotions, ads, self-promotion, social media requests, or any other forms of promoting yourself, friends, family, or any business inquiries to you without permission.
    
    Linked sites: Any links that provide users gateways to other websites MUST be approved by website owners before use, including social media platforms, other music websites, business websites, or anything that involves taking a website user to another site without permission is PUNISHABLE and will fall under out copyright laws, listed above.
    
    Changes: This terms & conditions policy may be changed/updated at any time on any day, and any user using the website MUST read and ACCEPT the new terms & conditions to continue using a user account on our website within any timeframe.
    
    Severability: If by any chance parts of this terms conditions are or become illegal, invalid or unenforceable in any way, shape or form, the legality and validity of the remainder of thesse terms & conditions will not be affected and these terms  conditions will be read as if the part was never there.
    </p>